{{html_table | safe}}

<script src="/static/tablefilter/tablefilter.js"></script>

<script data-config="">
 var filtersConfig = {
  base_path: '/static/tablefilter/',
  auto_filter: {
                    delay: 110 //milliseconds
              },
              filters_row_index: 1,
              state: true,
              alternate_rows: true,
              rows_counter: true,
              btn_reset: true,
              watermark: ['Keyword Search', 'Date', 'Keyword Search', 'URL', 'Joint Venture...', 'Yes or No', '', 'Article Source', 'Country', 'Watch Country', 'Watch Company', 'e.g. "heavy water"', 'Authorized U.S. Company', 'e.g. ACME CHN 11-Jun-18', 'SA, GA,...', 'Truth Table'],
              col_types: ["string", "ymddate", "string" ],
              col_widths: ['250px','100px','250px','100px','100px','150px','150px','150px','100px','180px','150px','150px','150px','150px','100px', '100px'],
              status_bar: true,
              msg_filter: 'Filtering...',
              extensions: [{
                name: 'colsVisibility',
                text: 'Hide columns: ',
                enable_tick_all: true,
              },
              {name:'filtersVisibility',
                 visible_at_start: true
              },
              {name: 'sort'}
              ],
              colsResizableOpts: [{
                resizeMode: 'flex',
                liveDrag: true,
                col_resizer_enable_nowrap: true
              }]
            };
            var tf = new TableFilter('demo', filtersConfig);
            tf.init();
          </script>